.baniere {
    background-image:url(../Images/internet-cables-oceans-1552081048106-superJumbo-v3.png);
    padding: 100px;
    background-attachment: fixed;
    background-position: top -60px right;
    background-size: cover;
}
.center-text {
    text-align: center;
}

#white {
    color:aliceblue
}
body {
    padding:0;
    margin:0;
    width: 100%; /* full window width */
    background-color: antiquewhite;
}
.button {
    width: 31%;
    height: 50px;
    float: left;
    Padding: 0 10px;
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    transition: transform .15s;
    border-right-width: 2px;
}
.button1 {
    width: 31%;
    height: 50px;
    float: left;
    Padding: 0 10px;
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    transition: transform .15s;
    border-right-width: 2px;
    margin-right: 1.1%;
}
.button2 {
    width: 31%;
    height: 50px;
    float: right;
    Padding: 0 10px;
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    transition: transform .15s;
    border-right-width: 2px;
}
    #button:hover {
    transform: scale(1.1);
    z-index: 3;
}

#Vallign {
    line-height: 30%
}

div h1 {
    color: black
}

p {
    font-size: x-large;
}

#corp {
    padding: .5%;
    margin-top: .5%;
    margin-left: 1%;
    background-color: azure;
    width: 45%;
    float: left;
}